<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")%>

<%- include("../partials/header")%>
<body class="bodyNewProduct">
    <h2 class="new_product_title">Creacion de productos</h2>
    <form action="/products/new" class="new_product" method="POST" enctype="multipart/form-data">
        <div class="item">
            <label for="file"><h4>Seleccione la imagen del producto</h4></label>
            <input type="file"  class="choose_file" id="file" name="file" multiple accept=".jgp, .png">
        </div>
        <div class="item">
            <label for="name_product">Nombre del producto</label>
            <input type="text" class="input" id="name_product" name="name_product" required>
        </div>
        <div class="tipo_de_producto">
            <h4>Elija la categoría de producto</h4>
            <div class="unidad">
                <select class="input" id="category_product" name="category_product" required>
                    <option disabled selected value> -- Elegir una opción -- </option>
                    <% for(let i = 0; i < categorias.length; i++){ %>
                        <option value="<%= categorias[i].id_categoria_producto %>" >
                            <%= categorias[i].categoria_producto %>
                        </option>
                    <% } %>
                </select>
            </div>
        </div>
        <div>
            <label for="name_product">Marca del producto</label>
            <select class="input" id="brand_product" name="brand_product" required>
                <option disabled selected value> -- Elegir una opción -- </option>
                <% for(let i = 0; i < marcas.length; i++){ %>
                    <option value="<%= marcas[i].id_marcas %>" >
                        <%= marcas[i].marcas %>
                    </option>
                <% } %>
            </select>
        </div>
        <div>
            <label for="name_product">Color del producto</label>
            <select class="input" id="color_product" name="color_product" required>
                <option disabled selected value> -- Elegir una opción -- </option>
                <% for(let i = 0; i < colores.length; i++){ %>
                    <option value="<%= colores[i].id_colores %>" >
                        <%= colores[i].nombre_color %>
                    </option>
                <% } %>
            </select>
        </div>
        <div class="item">
            <label for="price_product">Precio</label>
            <input type="text" class="input" id="price_product" name="price_product" required>
        </div>
        <div class="item">
            <label for="descript_product">Descripcion producto</label>
            <input type="text" class="input" id="descript_product" name="descript_product" required>
        </div>
        <div class="item">
            <label>Talle:</label><br>
            <select class="input" id="size_product1" name="size_product1" required>
                <option disabled selected value> -- Elegir una opción -- </option>
                <% for(let i = 0; i < talles.length; i++){ %>
                    <option value="<%= talles[i].id_talles %>" >
                        <%= talles[i].talles %>
                    </option>
                <% } %>
            </select>
            <input type="number" class="talle_jean" name="quantity_product1" id="quantity_product1">
            <select class="input" id="size_product2" name="size_product2" required>
                <option disabled selected value> -- Elegir una opción -- </option>
                <% for(let i = 0; i < talles.length; i++){ %>
                    <option value="<%= talles[i].id_talles %>" >
                        <%= talles[i].talles %>
                    </option>
                <% } %>
            </select>
            <input type="number" class="talle_jean" name="quantity_product2" id="quantity_product2">
            <select class="input" id="size_product3" name="size_product3" required>
                <option disabled selected value> -- Elegir una opción -- </option>
                <% for(let i = 0; i < talles.length; i++){ %>
                    <option value="<%= talles[i].id_talles %>" >
                        <%= talles[i].talles %>
                    </option>
                <% } %>
            </select>
            <input type="number" class="talle_jean" name="quantity_product3" id="quantity_product3">
            <select class="input" id="size_product4" name="size_product4" required>
                <option disabled selected value> -- Elegir una opción -- </option>
                <% for(let i = 0; i < talles.length; i++){ %>
                    <option value="<%= talles[i].id_talles %>" >
                        <%= talles[i].talles %>
                    </option>
                <% } %>
            </select>
            <input type="number" class="talle_jean" name="quantity_product4" id="quantity_product4">
            <select class="input" id="size_product5" name="size_product5" required>
                <option disabled selected value> -- Elegir una opción -- </option>
                <% for(let i = 0; i < talles.length; i++){ %>
                    <option value="<%= talles[i].id_talles %>" >
                        <%= talles[i].talles %>
                    </option>
                <% } %>
            </select>
            <input type="number" class="talle_jean" name="quantity_product5" id="quantity_product5">
            <select class="input" id="size_product6" name="size_product6" required>
                <option disabled selected value> -- Elegir una opción -- </option>
                <% for(let i = 0; i < talles.length; i++){ %>
                    <option value="<%= talles[i].id_talles %>" >
                        <%= talles[i].talles %>
                    </option>
                <% } %>
            </select>
            <input type="number" class="talle_jean" name="quantity_product6" id="quantity_product6">
        </div>
        <div>
            <p>Es un nuevo ingreso?</p>
            <div class="newIn">
                <input type="radio" id="si" value="si" name="newIn">
                <label for="si">Si</label>
            </div>
            <div class="newIn">
                <input type="radio" id="no" value="no" name="newIn">
                <label for="no">No</label>
            </div>    
        </div>
        <div class="button_np">
            <button type="submit" class="button_new_product">Agregar el producto</button>
        </div>
    </form>

<%- include("../partials/footer")%>

</body>
</html>


