<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")%>

<%- include("../partials/header")%>
<body>
    <h2 class="new_product_title">Creacion de productos</h2>
    <form action="/products/new" class="new_product" method="POST" enctype="multipart/form-data">
        <div class="item">
            <label for="file"><h4>Seleccione la imagen del producto</h4></label>
            <input type="file"  class="choose_file" id="file" name="file" accept=".jgp, .png">
        </div>
        <div class="tipo_de_producto">
            <h4>Elija el tipo de producto</h4>
            <div class="unidad">
                <!--<% for(let i = 0; i < categorias.length; i++){ %>
                    <input type="radio" id="<%= categorias[i].categoria_producto %>" name="producto" value="<%= categorias[i].categoria_producto %>">
                    <label for="<%= categorias[i].categoria_producto %>">
                        <%= categorias[i].categoria_producto %>
                    </label>
                <% } %>-->
                <select class="input" id="brand_product" name="brand_product" required>
                    <% for(let i = 0; i < categorias.length; i++){ %>
                        <option value="<%= categorias[i].id_categoria_producto %>" >
                            <%= categorias[i].categoria_producto %>
                        </option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="item">
            <label for="name_product">Nombre del producto</label>
            <input type="text" class="input" id="name_product" name="name_product" required>
        </div>
        <div>
            <label for="name_product">Marca del producto</label>
            <select class="input" id="brand_product" name="brand_product" required>
                <% for(let i = 0; i < marcas.length; i++){ %>
                    <option value="<%= marcas[i].id_marcas %>" >
                        <%= marcas[i].marcas %>
                    </option>
                <% } %>
            </select>
        </div>
        <div class="item">
            <label for="price_product">Precio</label>
            <input type="text" class="input" id="price_product" name="price_product" required>
        </div>
        <div class="item">
            <label for="descript_product">Descripcion producto</label>
            <input type="text" class="input" id="descript_product" name="descript_product" required>
        </div>
        <div class="item">
            <label>Cantidades por talle:</label><br>
            <label for="36">36</label>
            <input type="number" class="talle_jean" name="talle_jean_36" id="36">
            <label for="38">38</label>
            <input type="number" class="talle_jean" name="talle_jean_38" id="38">
            <label for="40">40</label>
            <input type="number" class="talle_jean" name="talle_jean_40" id="40">
            <label for="42">42</label>
            <input type="number" class="talle_jean" name="talle_jean_42" id="42">
            <label for="44">44</label>
            <input type="number" class="talle_jean" name="talle_jean_44" id="44">
            <label for="46">46</label>
            <input type="number" class="talle_jean" name="talle_jean_46" id="46">
        </div>
        <div class="button_np">
            <button type="submit" class="button_new_product">Agregar el producto</button>
        </div>
    </form>

<%- include("../partials/footer")%>

</body>
</html>